body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo 2", cursive;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

h1 {
  margin-left: 20px;
  text-shadow: 1px 1px rgb(165, 164, 164);
}

.navbar {
  color: #51c2fa;
  overflow: hidden;
  background-image: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgb(210, 219, 219) 100%
  );
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  border-radius: 0 0 4% 4%;
}
.nav-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.search-bar {
  padding: 5px;
  border: none;
  border-radius: 5%;
}
.search-button {
  height: 30px;
  width: 50px;
  margin-left: 20px;
  background-image: linear-gradient(120deg, #84fae0 0%, #8fd3f4 100%);
  border: hidden;
  border-radius: 10%;
  padding: 10px;
  color: white;
  align-items: center;
}
.search-button:hover {
  background-image: linear-gradient(120deg, #8fd3f4 0%, #84fae0 100%);
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipe {
  color: rgb(63, 63, 63);
  border-radius: 2%;
  box-shadow: 0 5px 5px lightgray;
  margin: 20px;
  display: flex;
  flex: 1;
  justify-content: space-around;
  background-image: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgb(210, 219, 219) 100%
  );
  align-items: center;
  min-width: 40%;
  padding: 20px;
}

.all-text {
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 4%;
  padding: 20px;
  width: 200px;
}

.ing-button {
  width: 200px;
  background-image: linear-gradient(120deg, #75d6e7 0%, #36b6f7 100%);
  border: hidden;
  border-radius: 5%;
  padding: 5px;
  color: white;
  align-items: center;
}

@media screen and (max-width: 560px) {
  .recipe {
    flex-direction: column;
  }
}
